# 4.8 Grouping Data & Aggregating Variables Task

## Table of Contents

#### Importing Libraries
#### Importing Data Sets
#### Task 4.8
Step 2

Step 3

Step 4

Step 5

Step 6

Step 7

Step 9

## Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

## Importing Data Sets

In [2]:
path=r'/Users/isabelgonzalez/Desktop/achievement 4'

In [3]:
ords_prods_merge=pd.read_pickle(os.path.join(path, 'data', 'prepared data', 'orders_products_merged_ver2.pkl'))

## Task 4.8

### Step 2

In [5]:
#Find mean for entire datframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Step 3

The results of the entire data frame differ from the subset because there is a larger range for the mean here since there is more data.

### Step 4

In [6]:
# Creating a 'max_order' column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [7]:
# Creating loyalty flag column based on max order criteria
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
#Checking values
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [12]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,one_time_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,Busiest_day,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Regularly busy,Mid-range product,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Mid-range product,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Mid-range product,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Least busy,Mid-range product,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Least busy,Mid-range product,Slowest days,Most orders,10,New customer

### Step 5

In [14]:
# Check basis statistics of product prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Step 6

In [21]:
# Creating a 'mean_order' column
ords_prods_merge['mean_price_for_orders'] = ords_prods_merge.groupby(['customer_id'])['prices'].transform(np.mean)

In [25]:
# Creating avg_spent column based on mean_order criteria
ords_prods_merge.loc[ords_prods_merge['mean_price_for_orders'] < 10, 'spending_flag'] = 'Low Spender'

In [26]:
ords_prods_merge.loc[ords_prods_merge['mean_price_for_orders'] >= 10, 'spending_flag'] = 'High Spender'

In [34]:
ords_prods_merge.head(100)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,one_time_customer,product_id,add_to_cart_order,reordered,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,avg_spent,mean_price_for_orders,spending_flag,median_of_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,6.367797,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Slowest days,Average orders,10,New customer,6.367797,Low Spender,6.367797,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Slowest days,Most orders,10,New customer,6.367797,Low Spender,6.367797,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Slowest days,Average orders,10,New customer,6.367797,Low Spender,6.367797,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Slowest days,Most orders,10,New customer,6.367797,Low Spender,6.367797,Low Spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,True,196,1,0,...,Regularly busy,Most orders,3,New customer,10.006250,High Spender,10.006250,High Spender,4.0,Frequent customer
96,1469869,377,3,5,17,3.0,False,196,9,0,...,Regularly busy,Average orders,3,New customer,8.496552,Low Spender,8.496552,Low Spender,16.5,Regular customer
97,1927023,387,2,4,10,22.0,False,196,3,0,...,Slowest days,Most orders,8,New customer,7.396610,Low Spender,7.396610,Low Spender,8.0,Frequent customer
98,858092,420,4,1,19,30.0,False,196,2,0,...,Busiest days,Average orders,22,Regular customer,7.387805,Low Spender,7.387805,Low Spender,7.0,Frequent customer
99,119314,420,5,3,19,16.0,False,196,2,1,...,Slowest days,Average orders,22,Regular customer,7.387805,Low Spender,7.387805,Low Spender,7.0,Frequent customer

### Step 7

In [28]:
# Creating a median of 'days_since_prior_order' column
ords_prods_merge['median_of_days_since_prior_order'] = ords_prods_merge.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)

In [29]:
# Creating avg_spent column based on mean_order criteria
ords_prods_merge.loc[ords_prods_merge['median_of_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [32]:
ords_prods_merge.loc[(ords_prods_merge['median_of_days_since_prior_order'] > 10) & (ords_prods_merge['median_of_days_since_prior_order'] <=20), 'order_frequency_flag'] = 'Regular customer'

In [33]:
ords_prods_merge.loc[ords_prods_merge['median_of_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [35]:
# check frequency
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [37]:
ords_prods_merge.shape

(32404859, 27)

### Step 9

In [36]:
# Export new file as pkl
ords_prods_merge.to_pickle(os.path.join(path, 'data','prepared Data', 'orders_products_merged_ver3.pkl'))